
@page "/flight"

@using System.Collections
@using System.Diagnostics
@using BlazorApp.Playground.Data


<div style="height: 300px; overflow-y: scroll">
    
    <Virtualize Context="flight"  ItemsProvider="@LoadAllFlights">
        <FlightSummary  Flight="@flight"  @key="flight.FlightId" Details="@flight.Summary" />
    </Virtualize>
</div>

@code {
    
    protected override Task OnInitializedAsync()
    {
        return Task.CompletedTask;
    }
    
    public async ValueTask<ItemsProviderResult<Flight>> LoadAllFlights(ItemsProviderRequest request)
    {
        var total = FlightService.allFlights.Length;
        
        Debug.WriteLine($"startIdx={request.StartIndex}, requestCount={request.Count}");

        var numFlights = Math.Min(request.Count, total - request.StartIndex);
        var flights = await FlightService.GetChunk(request.StartIndex, numFlights, request.CancellationToken);

        return new ItemsProviderResult<Flight>(flights, total);
    }
}
